body{
    background-image: url('img/point-of-sales-background.jpg');
    padding: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(176, 252, 252)
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: black;
    text-decoration: solid;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}
p{
    color: rgb(255, 255, 255);
    font-size: larger;
    text-decoration: solid;
}

.navbar{

    background-color: rgb(38, 0, 255);
    opacity: .5;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
    
}
.footer{
    background-color: #000;
    opacity: .5;
    text-decoration: white;

}